<div class="container">
  <div class="row">
    <p class="display-4 alert alert-primary text-center">Medicine Generic Information</p>
    <div class="col-4">

      <!--<form (ngSubmit)="insertTest()">
        <div>
          <label>Test Name</label>
          <input name="testName" type="text" [(ngModel)]="POSTTEST.testName" class="form-control" />
        </div>
        <div>
          <label>Test Type</label>
          <input name="testType" type="text" [(ngModel)]="POSTTEST.testType" class="form-control" />
        </div>
        <div>
          <label>Test Price</label>
          <input name="price" type="number" [(ngModel)]="POSTTEST.price" class="form-control" />
        </div>
        <div class="offset-5 mt-1">
         <a class="btn btn-outline-info">SAVE</a>
        </div>
      </form>-->
      <form (ngSubmit)="insertGeneric()" class="bg-info">
        <div>
          <label for="medicineGenericNames">MedicineGeneric Names</label>
          <input id="medicineGenericNames" name="medicineGenericNames" type="text" [(ngModel)]="POSTGeneric.medicineGenericNames" class="form-control" />
        </div>
        <!--<div>
          <label for="serviceCharge">Service Charge</label>
          <input id="serviceCharge" name="serviceCharge" type="number" [(ngModel)]="POSTService.serviceCharge" class="form-control" />
        </div>-->
        <div class="offset-5 mt-1">
          <button type="submit" class="btn btn-outline-info text-black">SAVE</button>
        </div>
      </form>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="table table-info">
          <tr>
            <th>GenericName</th>
            <!--<th>ServiceCharge</th>-->
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ok of MedicineGene">
            <td>{{ok.medicineGenericNames}}</td>          
            <td class="text-center">
              <a (click)="PopulateService(ok)" class="btn btn-primary mr-5">EDIT</a>
              <a (click)="DeleteGeneric(ok.medicineGenericID)" class="btn btn-danger">DELETE</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
